{#<p>متن ایمیل فرستاده شده#}
{#</p>#}
Hello , {{ user.username }}
Someone just asked for password reset of this email: {{ email }}
If it was you that asked for this link please click on the link below:
{#<h1>سلام،#}
{#برای انتخاب رمز عبور جدید روی لینک زیر کلیک کنید:</h1>#}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{#Example : http or https :// google.com#}
{#<h2>نام کاربری شما: {{ user.get_username }}#}
{#</h2>#}
{{ user.get_username }}
If you forgot your username : {{ user.username }}
Thanks for using our website.