
{% extends '_base.html' %}
{% load book_tags %}

{% block page_title %}
	جزئیات کتاب   {{ book.title }}
{% endblock %}
{% block content %}

        <div>
        نام کتاب :  <h3>{{ book.title | capfirst }}</h3>
            <p>{{ book.description|to_low:"متن انگلیسی"|linebreaks }}</p>
         نویسنده:<h4>{{ book.author }}</h4>
        قیمت:  <h5>{{ book.price }} $</h5>
        </div>
    <br>
    <a href="{% url 'books:book_update' book.id %}">
    <button class="btn btn-info" type="button"> ویرایش</button>
    </a>
     <a href="{% url 'books:book_delete' book.id %}">
    <button class="btn btn-danger" type="button"> حذف </button>
    </a>
    <br>
    <p><a href="{% url 'books:book_list' %}"> <h4>بازگشت به لیست کتابها</h4> </a></p>
{% endblock %}