{% extends '_base.html' %}

{% block page_title %}
    حذف کتاب
{% endblock %}

{% block content %}
    <br>
    <br>
    <form action="" method="post">

        {% csrf_token %}

        <h1 class="btn btn-outline-warning" type="button">" آماده ی حذف نمودن کتاب  {{ book.title }}" </h1>


        </a>
        <h4>آیا از حذف نمودن کتاب "{{ book.title }}"مطمئن هستید؟</h4>
        <input type="submit" class="btn btn-danger" value="بله برای حذف مطمئنم.">
    </form>
    <p>-------------------------------------------------------------------------------</p>



{% endblock %}